# Requirements for F1Project

# Core Libraries
requests==2.31.0  # For making API requests
pandas==1.5.3     # For data manipulation and analysis
polars==0.16.2    # For working with Polars DataFrames
duckdb==0.7.1     # For database integration and querying

delta-spark==2.3.0 # For Delta Lake support (if using PySpark for Delta tables)

# Additional Utilities
pydantic==1.10.4  # For data validation and parsing
matplotlib==3.6.2 # For data visualization
pytest==7.4.0     # For testing
